@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-display text-slate-900 dark:text-slate-100 bg-background-light dark:bg-background-dark;
  }
}

/* Material Symbols settings */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
